@{
    ViewData["Title"] = "Home Page";
}


<html>
<body>


 <main class="questao">
        <h1 id="perguntaQuestao">Você possui cadastro no sistema?</h1>
      
<div class="opcao">
    <butom id="sim"><a href="/user.html">SIM</a></butom>
    <butom id="nao"><a href="/cadastro.html">NÃO</a></butom>
</div>


        
    </main>

    <footer>
        <p>2022 - FranzDeveloper 🚀</p>
      </footer>

</body>      
</html>