@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>
  <main>


        <h3 id="redesSociais">MIDIAS SOCIAIS</h3>
        
        <div class="sociais">
            <a href="https://www.instagram.com/franzz._/"><img src="/imagens/icons8-instagram-96.png" alt=""></a>
            <a href="malito:brunofranz2006@gmail.com"><img src="/imagens/icons8-email-aberto-96.png" alt=""></a>
            <a href="/a/"><img src="/imagens/icons8-facebook-96.png" alt=""></a>
            <a href="/a/"><img src="/imagens/icons8-whatsapp-96 (1).png" alt=""></a>
        </div>

        <h3 id="funcionamento"> Funcionando todos os dias das 8hrs ás 20hrs.</h3>

    </main>

<footer>
  <p>2022 - FranzDeveloper 🚀</p>
</footer>

</body>
</html>