@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>
<header>
        
        <div>
            <div class="areas">
            <h2 class="categoria">JOGOS DE FUTEBOL</h2>
            <h2 class="categoria1">JOGOS DE CORRIDA</h2>
        </div>

      </div>
      <div class="anuncio">
        <h2>PRIMEIRA COMPRA USE O NOSSO CUPOM!</h2>
      </div>
    </header>
    <main>
        <div>
      <div id="divBusca">
        <input type="text" id="txtBusca" placeholder="Digite o que procura.." />
        <img
          src="https://media.discordapp.net/attachments/790715409019961345/987514745827508264/172546_search_icon.png"
          alt="Buscar..."
          id="btnBusca"
        />
      </div>


<nav id="menu">

<div>
      <ul class="fileiras">
        <li>
          <img
            src="https://media.discordapp.net/attachments/790715409019961345/979839658626285658/unknown.png?width=220&height=250"
            alt=""
          />
          <h3>FIFA 2022</h3>
          <button>ADICIONAR AO CARRINHO</button>
        </li>
        <li>
          <img
            src="https://media.discordapp.net/attachments/790715409019961345/979839907721781268/unknown.png?width=220&height=250"
            alt=""
          />
          <h3>FIFA 2013</h3>
          <button>ADICIONAR AO CARRINHO</button>
        </li>
        <li>
          <img
            src="https://media.discordapp.net/attachments/790715409019961345/979840149959622757/unknown.png?width=220&height=250"
            alt=""
          />
          <h3>FIFA 2019</h3>
          <button>ADICIONAR AO CARRINHO</button>
        </li>
        <li>
            <img
              src="https://media.discordapp.net/attachments/790715409019961345/979840388141576193/unknown.png?width=220&height=250"
              alt=""
            />
            <h3>FIFA 2021</h3>
            <button>ADICIONAR AO CARRINHO</button>
          </li>
      </ul>
    </div>


<div>
    <h2 class="categoria">JOGOS DE FUTEBOL</h2>
    <ul class="fileiras">
        <li>
          <img
            src="https://media.discordapp.net/attachments/790715409019961345/979833500540764220/unknown.png?width=220&height=250"
            alt=""
          />
          <h3>FIFA 2022</h3>
          <button>ADICIONAR AO CARRINHO</button>
        </li>
        <li>
          <img
            src="https://media.discordapp.net/attachments/790715409019961345/979833957409501214/unknown.png?width=220&height=250"
            alt=""
          />
          <h3>FIFA 2013</h3>
          <button>ADICIONAR AO CARRINHO</button>
        </li>
        <li>
          <img
            src="https://media.discordapp.net/attachments/790715409019961345/979834256035569674/unknown.png?width=220&height=250"
            alt=""
          />
          <h3>FIFA 2019</h3>
          <button>ADICIONAR AO CARRINHO</button>
        </li>
        <li>
            <img
              src="https://media.discordapp.net/attachments/790715409019961345/979838471000698900/unknown.png?width=220&height=250"
              alt=""
            />
            <h3>FIFA 2021</h3>
            <button>ADICIONAR AO CARRINHO</button>
          </li>
      </ul>
    </div>
  </nav>
    </main>
</body>
</html>
