@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
</head>
<body>
<main>
   <div class="logando">
    <p>
        <label for="/a/">Email</label>
        <br>
        <input asp-a="/a/" required>
    </p>
<br>
    <p>
        <label for="/a/">Senha</label>
        <br>
        <input asp-a="/a/" required>
    </p>
    <br>

    <p id="cadastro">
    <input type="submit" value="Entrar">
    </p>


</div>

</main>

<footer>
    <p>2022 - FranzDeveloper 🚀</p>
  </footer>
  

</body>
</html>