@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
</head>
    <body>
        
    

    <main class="usuarios">
        <h2>Selecione seu tipo de usuário:</h2>
        <a href="/loginP.html"><h3>Comprador</h3></a>
        <a href="/LoginA.html"><h3>Administrador</h3></a>
    </main>

    </body>
</html>